# Garbage from auto-tools

INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.log
config.status
config.sub
configure
depcomp
doc/Doxyfile
doc/latex/
doc/html/
config.h
config.h.in
src/stamp-h1
install-sh
src/.deps/
src/.libs/
src/Makefile
src/Makefile.in
src/*.lo
src/*.o
src/*.la
src/tests/.deps/
src/tests/.libs/
src/tests/Makefile
src/tests/Makefile.in
src/*.lo
src/tests/*.o
libtool
ltmain.sh
m4/
missing

# VIM temporary files
.*.sw?
*/.*.sw?
*/*/.*.sw?
*/*/*/.*.sw?
